.body {
  display: flex;
  text-align: center;
  font-family: Georgia, serif;
  align-items: center;
}
/*ABout*/
#about {
  background: maroon;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.kXteup:hover:enabled,
.kXteup:focus:enabled {
  background-color: grey;
}

/*Faculty*/
.about1 h2 {
  color: white !important;
}

.title-section {
  margin-bottom: 80px;
}
.title-section h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  color: maroon;
}
.title-section span {
  display: block;
  width: 70px;
  height: 4px;
  background: grey;
  margin: 0 auto;
}

.Faculty1 {
  padding-top: 120px;
}

.rev:hover,
.rec:active {
  box-shadow: white;
  color: white;
}

.rec.rec-arrow {
  background-color: white;
  color: maroon;
}

.rec.rec-arrow:hover,
.rec.rec-arrow:active {
  color: maroon !important;
}

.rec-dot {
  color: white;
}
.rec-dot_active {
  color: white !important;
  background-color: white !important;
  box-shadow: white !important;
  box-shadow: 0 0 1px 3px white !important;
}
.rec-pagination {
  color: white;
}

.facultyFont {
  font-family: Georgia, serif;
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #dfeff0;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  padding-bottom: 20px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 55%;
  width: 100%;
  background-color: maroon;
  border-radius: 25px 25px 0 25px;
}
.cardBox {
  padding: 5px;
  justify-content: center;
}
.cardTitle {
  font-weight: 600;
  font-size: 0.9rem !important;
  font-family: Georgia, serif;
  text-align: center;
  text-size-adjust: 90%;
  white-space: nowrap;
}

.rev-pagination {
  white-space: nowrap !important;
}

.button1 {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.faculty {
  padding: 20px;
  background-color: white;
}
.Cardclass {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  padding: 10px 14px;
}
.FacultyImage {
  display: flex;
  align-items: center !important;
  height: 200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card-image {
  display: flex;
  align-items: center !important;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  display: flex;
  align-items: center !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}
.description {
  font-size: 0.8rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  padding: 0% 5%;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/*Gallary*/

.gallary {
  display: flex;
  align-items: center;

  padding-bottom: 10%;
}
#gallary1 {
  margin-top: 2%;
  background: maroon;
}
.gallary1 h2 {
  color: white;
  padding-top: 2%;
}

.gallary1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.container1 {
  align-items: center;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .gallary {
    height: 320px !important;
    width: 350px !important;
    margin: 0% !important;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .gallary {
    height: 220px !important;
    width: 700px !important;
  }
}
@media only screen and (min-width: 992px) {
  .gallary {
    align-items: center;
    height: 700px !important;
    width: 800px !important;
  }
}

.backgroundImg {
  background-color: #dfeff0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
