.navigation {
  position: relative;
  display: flex;
  z-index: 3;
  align-items: center;
  height: 30px;
  width: 100%;

  margin: auto;
  padding: 0.5rem 0rem;
  padding-top: 1.5rem;
  justify-content: space-between;
  background-color: grey;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 1rem 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 30px;
  width: 30px;
  padding: 0.5rem;
  z-index: 3;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
}

.te {
  color: white;
  font-family: Georgia, serif;
  padding-top: 0.5rem;
}

@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    z-index: 3;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: grey;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
