body {
  margin: 0;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

.kl {
  padding: 3rem 3rem 3rem 3rem;
}
.lm {
  padding: 1rem 1rem 1rem 1rem;
}

code {
  font-family: Georgia, serif;
}

.tk {
  color: white;
  padding-top: 2rem;
}
.post {
  padding: 2rem 2rem 2rem 2rem;
}
.btn-primary {
  background-color: maroon;
}

.nn {
  background-color: maroon;
}

.news {
  padding: 2rem 2rem 2rem 2rem;
}

.nb {
  background-color: maroon;
}
.bb {
  left: 50%;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
}
.headd {
  font-family: Georgia, serif;
  color: white;
}

@media screen and (max-width: 550px) {
  .headd {
    font-family: Georgia, serif;
    color: white;
    font-size: small;
  }
}
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
